body {
    height: 100vh;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 0px 200px;
}

.headerlinks > ul {
    display: flex;
    gap: 20px;
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    padding: 0px;
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.main {
    display: flex;
    flex: 1;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 100px 200px;
    gap: 50px;
}

.mainh1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight:bolder;
    margin: 0px;
}

.mainpara {
    margin: 10px 0px;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
    background-color: darkgray;
}

.signupbutton {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 10px 30px;
}