body {
    height: 100vh;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 0px 20%;
}

.headerlinks > ul {
    display: flex;
    gap: 20px;
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    padding: 0px;
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.main {
    display: flex;
    flex: 1;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 100px 20%;
    gap: 50px;
}

.mainh1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight:bolder;
    margin: 0px;
}

.mainpara {
    margin: 10px 0px;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
    height: 300px;
    background-color: darkgray;
}

.signupbutton {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 10px 30px;
}

.info {
    margin-bottom: 100px;
}

.infoboxgroup {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.infobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-align: center;
    width: 200px;
    font-size: 18px;
    color: #1f2937;
}

.infobox > img {
    height: 200px;
    width: 200px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 16px;
}

.infoh2 {
    text-align: center;
    margin: 40px;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quotetext {
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    margin: 0px;
}

.quoteattribution {
    color: #1f2937;
    font-weight: bold;
    font-size: 18px;
    align-self: flex-end;
}